[submodule "thirdparty/QtZeroConf"]
	path = thirdparty/QtZeroConf
	url = https://github.com/jbagg/QtZeroConf.git
[submodule "thirdparty/qmsgpack"]
	path = thirdparty/qmsgpack
	url = https://github.com/romixlab/qmsgpack.git
